<% if (_.keys(orgs).length > 0) { %>
<div class="row">
    <div class="span22 columns">
        <h4><%= title %></h4>
        <span class="info"><%= action %></span>
    </div>
</div>
<div class="clearfix"></div>
	
<% _.each(orgs, function(i) { %>
<!--
<%= JSON.stringify(i) %>
-->
<div class="row">
    <div class="span16 columns">
		<p><span class="<%= i.error %>">Org (<%= i.id %>): Error Code <%= i.code %></span><br/>
            <%= i.message %><br/>
                <%= i.data %>
        </p>
    </div>
</div>
<div class="clearfix"></div>
<% }); %>
<% } %>