<% if (orgs) { %>
<div class="row">
    <div class="span22 columns">
        <h4><%= title %></h4>
        <% if (_.keys(orgs).length > 0) { %>	
        <span class="info"><%= action %> (<%= _.keys(orgs).length %> Organizations)</span>
        <% } else { %>
        <span class="info">0 Organizations for this section</span>
        <% } %>
    </div>
</div>
<div class="clearfix"></div>
<% _.each(orgs, function(i) { %>
<!--
<%= JSON.stringify(i) %>
-->
<div class="row">
    <div class="span22 columns">
		<p><span class="<%= i.error %>">"<%= i.name %>"</span><br/>
    </div>
</div>
<div class="clearfix"></div>
<% }); %>
<% } %>