<% if (orgs) { 
    var count = _.keys(orgs).length;
		var keys = _.keys(orgs);
		keys = keys.sort();
%>
<div class="row">
    <div class="span22 columns">
        <h4><%= title %></h4>
        <% if (count > 0) { %>	
        <span class="info"><%= action %> (<%= count %> Organizations)</span>
        <% } else { %>
        <span class="info">0 Organizations for this section</span>
        <% } %>
    </div>
</div>
<div class="clearfix"></div>	

<% _.each(keys, function(i) {
	var item = orgs[i];
    var o = item["r25:organizations"]["r25:organization"];
%>
<!--
<%= JSON.stringify(i) %>
-->
<div class="row">
    <div class="span22 columns">
		<span class="<%= i.error %>"><%= o["r25:organization_name"]["$t"] %> - <%= o["r25:organization_title"]["$t"] %></span>
    </div>
</div>
<div class="clearfix"></div>
<% }); %>
<% } %>