<% if (orgs) {

    var orgNames = _.keys(orgs).sort();
%>
<div class="row">
    <div class="span22 columns">
        <h4><%= title %></h4>
        <% if (orgNames.length > 0) { %>	
        <span class="info"><%= action %> (<%=orgNames.length %> Organizations)</span>
        <% } else { %>
        <span class="info">0 Organizations for this section</span>
        <% } %>
    </div>
</div>
<div class="clearfix"></div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr><th>RSO ID</th>
            <th>RowdyLink Name</th>
            <th>R25 Organization Title</th>
        </tr>
        </thead>
        <tbody>
<% _.each(orgNames, function(j) { 

    var i = orgs[j];    
    if (i.type == 'clink') { %>

    <tr>
        <td><a href="<%= i["siteURL"] %>"><%=i.id%></a><!--
<%= JSON.stringify(i) %>
--></td>
        <td class="clink-<%=i.id%>"><%= i.name %></td>
        <td class="r25"></td>
    </tr>

    <% } else { %>

    <tr>
        <td><a href="<%= org_BROWSE + i.id %>"><%= i.id %></a><!--
<%= JSON.stringify(i) %>
--></td>
        <td clas="clink"></td>
        <td class='r25-<%=i.id %>'><%= i.name %></td>
    </tr>

    <% } %>

<% }); %>
        </tbody>
        </table>
<% } %>
